{% extends "base.html" %}

{% block footer %}
<footer class="site-footer">
  <small>
    Favicon made by
    <a href="https://www.flaticon.com/authors/yogi-aprelliyanto"
       target="_blank" rel="noopener">
      Yogi Aprelliyanto
    </a>
    from
    <a href="https://www.flaticon.com/"
       target="_blank" rel="noopener">
      Flaticon
    </a>
  </small>

  <div class="footer-icons">

    <a href="https://github.com/MatthewGoldsberry"
       aria-label="GitHub"
       target="_blank" rel="noopener">
      <i class="fa-brands fa-github"></i>
    </a>

    <a href="https://www.linkedin.com/in/matthew-goldsberry/"
       aria-label="LinkedIn"
       target="_blank" rel="noopener">
      <i class="fa-brands fa-linkedin"></i>
    </a>

    <a href="mailto:goldsbme@mail.uc.edu"
       aria-label="Email">
      <i class="fa-solid fa-envelope"></i>
    </a>

    <a href="{{ base_url }}/assets/media/Goldsberry_Matthew_Resume_2026.pdf"
       aria-label="Resume">
      <i class="fa-solid fa-file-lines"></i>
    </a>

  </div>
</footer>
{% endblock %}
